<% layout('/layouts/boilerplate') %>
<body>
    <h1>Create New Listing</h1>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <br>
        <textarea name="listing[description]" placeholder="Enter Description"></textarea>
        <br>
        <input type="text" name="listing[image]" placeholder="Enter Image Link">
        <br>
        <input type="number" name="listing[price]" placeholder="Enter Price">
        <br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br>
        <input type="text" name="listing[country]" placeholder="Enter Country">
        <br>
        <button type="submit">Submit Details</button>
    </form>
</body>
